[Desktop Entry]
Type=ControlPanelApplet
Name=QNeptunea
X-logical-id=qneptunea-notification
X-translation-catalog=qneptunea-catalog
Icon=
X-Maemo-Service=com.nokia.DuiControlPanel
X-Maemo-Method=com.nokia.DuiControlPanelIf.appletPage
X-Maemo-Object-Path=/
# this has to be identical to the value in Name
X-Maemo-Fixed-Args=QNeptunea

[DUI]
X-DUIApplet-Applet=libdeclarative.so

[DCP]
Category=Notifications
Order=100
Part=qneptunea-notification.xml
